<div class="container-fluid">
    <div class="box mt-1 p-3">
        <h1><b>DOCTOR LIST</b></h1>
    
    <br>
<div class="fam mt-3">
        <div class="form">

           <!---- <div>
                <strong>id</strong>
                <p>{{ doctor.id }}</p>
            </div>-->

            <div>
                <strong><b>Doctor Id:</b> {{ doctor.DoctorId }}</strong>
                <p></p>
            </div>

            <div>
                <strong><b>Doctor Name:</b> {{ doctor.DoctorName }}</strong>
                <p></p>
            </div>
            <div>
                <div>
                    <strong><b>Patient Names:</b> {{ doctor.PatientNames }}</strong>
                    <p></p>
                </div>
                <div>
              

            <div class="back">
                <a href="#" routerLink="/doctor/index/" class="btn btn-primary">Back</a>
            </div>
    
        </div>
  
</div>
</div>
</div>
