<div class="container-fluid">
    <div class="box mt-1 p-3">
        <h1><b>PATIENT LIST</b></h1>
    
    <br>
<div class="fam mt-3">
        <div class="form">

           <!---- <div>
                <strong>id</strong>
                <p>{{ patient.id }}</p>
            </div>-->

            <div>
                <strong><b>Patient Id:</b> {{ patient.PatientId }}</strong>
                <p></p>
            </div>

            <div>
                <strong><b>Patient Name:</b> {{ patient.PatientName }}</strong>
                <p></p>
            </div>
            <div>
                <strong><b>Age:</b> {{ patient.Age }}</strong>
                <p></p>
            </div>
            <div>
                <strong><b>Doctor Name:</b> {{ patient.DoctorName }}</strong>
                <p></p>
            </div>
            <div>
                <strong><b>RX Date:</b> {{ patient.RXDate }}</strong>
                <p></p>
            </div>
            
              

            <div class="back">
                <a href="#" routerLink="/patient/index/" class="btn btn-primary">Back</a>
            </div>
    
        </div>
  
</div>
</div>
</div>
